body{
    background-color: aquamarine;
    font-family: cursive;
    font-size: 20px;
}


header{
    font-size: 30px;
    text-align: center;
    background-color: rgb(56, 58, 223);
   
    width: 100%;
    
    
    
}
section{
    display: flex;
    height: max-content;
    
    margin: 60px 0px 60px 0px;
    padding-top: 50px;
}
.imagen{
    display: inline;
    background-color: red
    padding-right: 0px;
    box-sizing: content-box;

;
}
p{
    width: 600px;
    height: auto;
    text-align: left;
    display: inline-block;
    background-color: none);
    font-size: 33px;
    margin-top: 0%;
    margin-right:10px;
    margin-left:20px;
}
.botones li a {
    text-decoration: none;


}
.botones{
    display: block;
}
.botones li{
display: inline-block;
width: 300px;
}
nav{
    display: inline-block;
    position: fixed;
}
.titulo{
    display: block;
    padding-top: 0px;
    margin-top: 0px;
}
.yo{
    margin-top:0px;
}