body{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../images/background.jpg);
    text-shadow : 2px 2px #E6E1DC;
}
h1{
    display:block;
    height: 5px;
    margin-top: 0;
    color: #E6CA1F;
    text-shadow: 2px 2px #665E2C;
    
}


section{
    padding-bottom: 200px;

    display: flex;
    
    border-top: 0px;
    margin: 60px 0px 60px 0px;
    padding-top: 140px;
    margin-top: 0;
   
}
.imagen{
    display: inline;
    padding-right: 0px;
    

;
}
p{
    width: 90%;
    text-align: left;
    display: inline-block;
    background-color: none;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.titulo{
   
    padding-top: 0px;
    margin-top: 0px;
    
}
.yo{
    margin-top:0px;
}
ul li a:hover {
    font-size: 2rem;
    border-radius: 7px 7px 7px 7px;

}
.interes {
    padding-top: 120px;
   
    
}
.icon-social a img{
    
    display: flex;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    flex-direction: row;
    
    
}
.icon-tw, .icon-fb, .icon-inst, .icon-gmail{
    text-decoration: none;
    flex-direction: row;


}

@media(max-width 560px){
    
}